body {
  background-color: #DDDDDD;
}

.wrapper {
  width: 1200px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(200, 190, 201, 0.5);
}

.left-container {
  width: 35%;
  float: left;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.right-container {
  width: 60%;
  height: 670px;
  float: right;
  padding: 10px;
}

.clear {
  clear: both;
}

.card-white {
  background: #F3F1F5;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(200, 200, 200, 0.6);
  font-family: "Open Sans", "sans serif";
  position: relative;
}

.text-center {
  text-align: center;
}

.card-white h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #857885;
}

h1 {
  margin-top: 5px;
  margin-bottom: 15`px;
  color: #484944;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

p {
  color: rgb(180, 180, 180);
  font-size: 15px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

#banner {
  line-height: 40px;
}

#navigation {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 5px;
}

.img-circle {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.btn-dark-blue {
  background-color: #4C4D74;
  color: rgb(250,250,250);
  padding: 5px 10px;
  border-radius: 4px;
}

.btn-dark-blue:hover {
  color: white;
  background-color: #2E2F47;
  text-decoration: none;
  position: relative;
  top: 1px;
}

.list-inline {
  list-style: none;
  display: inline-block;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  margin: 5px 22px;
}

.list-inline li > a {
  display: flex;
  flex-direction: column;
  color: rgb(120, 120, 120);
  opacity: 0.7;
}

.list-inline li > a:hover {
  color: #B11D1D;
  position: relative;
  top: 1px;
  left: 1px;
}

i {
  font-size: 25px;
}

.project-img {
  width: 150px;
  height: 150px;
  padding: 0px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 150px;
}

.project-img:hover {
  opacity: 0.7;
}

td > h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

#summary {
  padding: 10px 400px 30px 10px;
}

#summary > ul {
  position: absolute;
  text-align: center;
  bottom: 5px;
  right: 0;
  font-size: 20px;
  white-space: nowrap;
}
